@keyframes spotlight {
  0%, 100% { opacity: 0.7; transform: translateX(-50%) scale(1); }
  50% { opacity: 1; transform: translateX(-50%) scale(1.07); }
}
.animate-spotlight {
  animation: spotlight 2s infinite alternate;
}